*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins'sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
    background: #000;
}
.container .card{
    position: absolute;
    width: 150px;
    height: 250px;
    background: #5e5cfc;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(0, 0, 0, 1);
    font-size: 8em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    filter: hue-rotate(cacl(var(--i)* 50deg));
}
.container:hover .card{
    transform: rotate(calc(var(--i)* 5deg)) translate(calc(var(--i)
    * 120px), -50px);
    color: rgb(255, 0, 0);
}
.container:active .card{
    background: #777;

}
.container .card:active{
    background: #5e5cfc;
    z-index: 100;
    transform: rotate(cacl(var(--i)*60deg));
}


